<div class="container">
  <!-- <app-search-form></app-search-form> -->
  <h1 class="text-center">WELCOME TO MY GITHUB PORTFOLIO</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngIf='profile'>
        <div class="panel panel-default">
          <div class="panel-heading">{{profile.name}}</div>
        </div>

        <div><img src="{{profile.avatar_url}}" alt="profile photo" class="img-circle"></div>

        <div class="card">
          <p><span class="info">GitHub Username:</span><span class="details">{{profile.login}}</span> </p>
        </div>
        <div class="card">
          <p><span class="info">Twitter Username: </span><span class="details">{{profile.twitter_username}}</span></p>
        </div>
        <div class="card">
          <p><span class="info">Bio:</span> <span class="details">{{profile.bio}}</span></p>
        </div>
        <div class="card">
         <p> <span class="info">Bootcamp: </span><span class="details">{{profile.company}}</span></p>
        </div>
        <div class="card">
          <p><span class="info">Total number of public repositories:</span><span class="details"> {{profile.public_repos}}</span></p>
        </div>


      </div>
    </div>
    <div class="col-md-6">
      <h1 class="text-center">PUBLIC REPOSITORIES</h1>
      <hr>
      <div *ngFor='let repo of repos'>
        <div class="card">
          <div class="card-header">
            <a href="{{repo.html_url}}" class="repoName">{{repo.name}} </a>
          </div>
          <div class="card-body text-lead">
            <p>{{repo.description}}</p>
          </div>
          <div class="card-footer">
            <p>{{repo.created_at | date}}</p>
            <p>Clone link:"{{repo.clone_url}}"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
