<div class="container">
  <!-- <app-search-form></app-search-form> -->
  <h1 class="text-center">WELCOME TO MY GITHUB PORTFOLIO</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngIf='profile'>
        <div class="panel panel-default">
          <div class="panel-heading">{{profile.name}}</div>
        </div>

        <div><img src="{{profile.avatar_url}}" alt="profile photo" class="img-circle"></div>

        <div class="card">
          <span class="info">GitHub Username:</span> {{profile.login}}
        </div>
        <div class="card">
          <span class="info">Twitter Username: </span>{{profile.twitter_username}}
        </div>
        <div class="card">
          <span class="info">Bio:</span> {{profile.bio}}
        </div>
        <div class="card">
          <span class="info">Bootcamp: </span>{{profile.company}}
        </div>
        <div class="card">
          <span class="info">Total number of public repositories:</span> {{profile.public_repos}}
        </div>


      </div>
    </div>
    <div class="col-md-6">
      <h1 class="text-center">PUBLIC REPOSITORIES</h1>
      <hr>
      <div *ngFor='let repo of repos'>
        <div class="card">
          <div class="card-header">
            <a href="{{repo.html_url}}" class="repoName">{{repo.name}} </a>
          </div>
          <div class="card-body text-lead">
            <p>{{repo.description}}</p>
          </div>
          <div class="card-footer">
            <p>{{repo.created_at | date}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
